/* :root {
  --verdigris: #16bac5;
  --maya-blue: #5fbff9;
  --magnolia: #efe9f4;
  --eerie-black: #171d1c;
  --neon-blue: #5863f8;
} */

header {
  display: block;
}

form {
  width: 100%;
  min-width: 300px;
  /* margin: 0 auto; */
  padding: 0 15px 15px 0;
}

label {
  display: block;
}

table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--eerie-black);
}

th {
  border: 1px solid var(--eerie-black);
  font-size: 1.15rem;
}

td {
  border: 1px solid var(--eerie-black);
  padding: 4px 10px;
}

tbody td {
  min-width: 4rem;
  /* max-width: 4rem; */
}

.cuti-app {
  margin: 0 auto;
  /* padding: 16px; */
  min-width: 300px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.cuti-input label input {
  width: 100%;
}

.cuti-input label > textarea {
  width: 100%;
  height: 6rem;
}

.cuti-input > .cuti-duration {
  margin-bottom: 0.4rem;
}

.cuti-input .datepicker-item {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 50%;
}

.menu {
  background: #ffffff !important;
  border-radius: 8px !important;
  position: absolute !important;
  top: 60px !important;
  right: 0 !important;
  width: 200px !important;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3) !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translateY(-20px) !important;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s !important;
}

.menu.active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li:nth-child(2) {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.btn-logout {
  border: none;
  font-weight: 500;
  color: var(--bs-nav-link-color);
  width: 100%;
  text-align: left;
  padding-left: 1px;
}

.box {
  background-color: var(--maya-blue);
}

.modified {
  padding: 0.45rem 0.75rem;
  margin-bottom: 0.75rem !important;
}

.box.magnolia {
  margin: 1rem auto;
}

.title,
.label {
  color: var(--magnolia);
}

.hero-body {
  background-image: linear-gradient(to bottom left, var(--neon-blue) 5%, var(--verdigris) 65%);
}

.button.is-success {
  background-color: var(--neon-blue);
  color: var(--magnolia);
}

.verdigris {
  background-color: var(--verdigris) !important;
}

.maya-blue {
  background-color: var(--maya-blue) !important;
}

.magnolia {
  background-color: var(--magnolia) !important;
}

.eerie-black {
  background-color: var(--eerie-black) !important;
}

.neon-blue {
  background-color: var(--neon-blue) !important;
}

.text-verdigris {
  color: var(--verdigris) !important;
}

.text-maya-blue {
  color: var(--maya-blue) !important;
}

.text-magnolia {
  color: var(--magnolia) !important;
}

.text-eerie-black {
  color: var(--eerie-black) !important;
}

.text-neon-blue {
  color: var(--neon-blue) !important;
}

.child-list {
  border: none;
  text-align: left;
  font-weight: bold;
}

h1 {
  margin-block-end: 0.5rem !important;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.modal-card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.to-the-right {
  float: right;
}

.z-index-1 {
  z-index: 1;
}

.logo {
  height: 35px !important;
}
